.todoContent {
    margin-top: calc(1rem + 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 46rem;
    gap: 1.5rem;

}

.headerTodo {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;

}

.tarefasCriadas p {
    color: var(--blue);
}

.tarefasConcluidas p {
    color: var(--purple-dark);
}

.tarefasConcluidas span,
.tarefasCriadas span {
    text-align: center;
    width: auto;
    padding: 0 0.5rem;
    background-color: var(--gray-400);
    border-radius: 999px;
}

.tarefasCriadas,
.tarefasConcluidas {
    display: flex;
    gap: .5rem;
}